<div ng-app="WidgetApp">
	<div ng-controller="HomeCtrl">
		<ul>
			<li>first</li>
			<li cch-repeat="color in colors | orderBy:'toString()'">{{color}}</li>
			<li>last</li>
		</ul>

		<ul>
			<li>first</li>
			<li cch-repeat="state in states | orderBy:'name'">{{state.code}} - {{state.name}}</licch-repeat>
			<li>last</li>
		</ul>
	</div>
</div>