<div ng-app="WidgetApp">
	<div ng-controller="HomeCtrl">
		{{$id}} - {{message}}
	</div>
	<div ng-controller="HomeCtrl">
		{{$id}} - {{message}}
	</div>
	<div ng-controller="HomeCtrl">
		{{$id}} - {{message}}
	</div>
	<div ng-controller="HomeCtrl">
		{{$id}} - {{message}}
	</div>
	<div ng-controller="HomeCtrl">
		{{$id}} - {{message}}
	</div>
</div>